<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mind Space</title>

    <link rel="stylesheet" href="./css/stylesheet.css"></link>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

    <!-- fontawesome script  -->
    <script src="https://kit.fontawesome.com/a896e02f86.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#">Mind Space</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link" href="https://pcosdetection.herokuapp.com/"><i class="fas fa-tachometer-alt"></i>Know More</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="https://quiet-spire-65747.herokuapp.com/"><i class="far fa-address-book"></i>Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="far fa-clone"></i>Relax</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/sms"><i class="far fa-chart-bar"></i>Spread Awarenss</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="far fa-copy"></i>Play a game</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="home">
        <!-- <img src="./img/bg1.jpg" alt="img"> -->
        <h1 class="h-primary" >Having PCOS?</h1>
        <h2 class="h-secondary" >Not sure whether you have PCOS or not?</h2>
    </div>
    <div class="comic-strip">
        <div class="container">
            <div class="gallery">
                <img src="./public/images/1.png">
                
            </div>
            <div class="gallery">
                <img src="./public/images/2.png">
               
            </div>
            <div class="gallery">
                <img src="./public/images/3.png">
                
            </div>
            <div class="gallery">
                <img src="./public/images/4.png">
               
            </div>
            <div class="gallery">
                <img src="./public/images/5.png">
              
            </div>
            <div class="gallery">
                <img src="./public/images/6.png">
               
            </div>
    
        </div>
    </div>
    <div id="about">
        <div class="about-pcos">
            <h3 class="h-secondary">About PCOS</h3>
            <h5>PCOS stands for Polycystic Ovarian Syndrome</h5>
            <p class="para" >A variable disorder that is marked especially by amenorrhea, hirsutism, obesity, infertility, and ovarian enlargement and is usually initiated by an elevated level of luteinizing hormone, androgen, or estrogen which results in an abnormal cycle of gonadotropin release by the pituitary gland —abbreviation PCOS — called also <b>polycystic ovary disease, polycystic ovary syndrome, polycystic ovary disease, Stein-Leventhal syndrome.</b></p>
        </div>
    </div>
    <div id="comic">
        <div class="symptoms">
            <h2 class="h-secondary">Common Symptoms of PCOS</h2>
            <p class="para">Some women start seeing symptoms around the time of their first period. Others only discover they have PCOS after they’ve gained a lot of weight or they’ve had trouble getting pregnant.</p>
            <p class="para">The most common PCOS symptoms are:</p>
            <ul>
                <li><b>Irregular Periods.</b> A lack of ovulation prevents the uterine lining from shedding every month. Some women with PCOS get fewer than eight periods a year or none at all</li>
                <li><b>Heavy Bleeding.</b> The uterine lining builds up for a longer period of time, so the periods you do get can be heavier than normal.</li>
                <li><b>Hair Growth.</b> More than 70 percent of women with this condition grow hair on their face and body — including on their back, belly, and chest. Excess hair growth is called hirsutism.</li>
                <li><b>Acne.</b> Male hormones can make the skin oilier than usual and cause breakouts on areas like the face, chest, and upper back.</li>
                <li><b>Weight Gain.</b> Up to 80 percent of women with PCOS are overweight or have obesity</li>
                <li><b>Darkening of Skin.</b> Dark patches of skin can form in body creases like those on the neck, in the groin, and under the breasts.</li>
                
            </ul>
        </div>
        <div class="causes">
            <h2 class="h-secondary">Causes</h2>
            <p class="para">The exact cause of PCOS isn't known. Factors that might play a role include:</p>
            <ul>
                <li><b>Excess Insulin.</b> Excess insulin might increase androgen production, causing difficulty with ovulation.</li>
                <li><b>Low-Grade Inflammation.</b> This term is used to describe white blood cells' production of substances to fight infection. Research has shown that women with PCOS have a type of low-grade inflammation that stimulates polycystic ovaries to produce androgens, which can lead to heart and blood vessel problems.</li>
                <li><b>Heredity</b> Research suggests that certain genes might be linked to PCOS</li>
                <li><b>Excess Androgen</b>The ovaries produce abnormally high levels of androgen, resulting in hirsutism and acne.</li>
            </ul>
        </div>
        <div class="buttons">
            <p class="para">Need Help?</p>
            <button class="btn1" onclick="location.href='https://quiet-spire-65747.herokuapp.com/';">Chat and engage!</button>
             <button class="btn1" onclick="location.href='https://pcosdetection.herokuapp.com/';">Know More!</button>
        </div>
    </div>
 
    <footer id="footer">
        <div class="connect">
            <h4>Connect With Us</h4>
          </div>
          <div class="social">
           <a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram fa-2x"></i></a> 
           <a href="https://www.linkedin.com/" target="blank"><i class="fab fa-linkedin fa-2x"></i></a>
           <a href="https://www.google.com" target="blank"><i class="far fa-envelope fa-2x"></i></a>
           <a href="https://www.twitter.com/" target="blank"><i class="fab fa-twitter fa-2x"></i></a>
           <a href="https://www.youtube.com/" target="blank"><i class="fab fa-youtube fa-2x"></i></a>
          </div>
          <div class="copyright">
            <p><i class="far fa-copyright" ></i>2021 Mind Space | All Rights Reserved. </p>
    </footer>
    <script src="./js/index.js" charset="utf-8"></script>
  </body>
</html>
